<div class="section centered flex-column centered start-main">

  <div class="container start-items">

      <div class="row title">
        <h4>Hello {{username}}, let's add a <span class="color-pop-light">genome</span></h4>
        <h5>Go directly to <a ui-sref="summary">RESULTS SUMMARY</a></h5>
      </div>

      <div class="row start-item-container">

        <div class="one-third column start-item">
          <i class="fa fa-cloud-upload" aria-hidden="true"></i>
          <h5>Upload Genome File</h5>
          <p>If you've been genotyped by one of our supported vendors, you can upload a TXT file containing your raw results. Currently supported vendors include:</p>
          <ul>
            <li>23andMe</li>
            <li>AncestryDNA</li>
            <li>FamilyTree</li>            
          </ul>
          <div class=input-container>
            <input class="u-full-width input-text" type="text" placeholder="enter name (required)" id="genome-name" maxlength="30" ng-model="genomeName">
            <input type="file" name="file" id="file" class="inputfile" on-read-file="uploadGenomeTXT($fileContent, genomeName)" ng-disabled="!genomeName" />
            <label type="file" for="file">Choose a file</label>
          </div>
    
        </div>

        <div class="one-third column start-item">
          <i class="fa fa-external-link-square" aria-hidden="true"></i>
          <h5>Connect to 23andMe</h5>
          <p>If you have been genotyped by 23andMe, you can connect your 23andMe results with our tools. We'll need access to the profile name(s) in your 23andMe account. We do not store or use this data.</p>
          <div class="input-container">
            <div class="button button-white">Connect</div>
          </div>
        </div>

        <div class="one-third column start-item">
          <i class="fa fa-id-card-o" aria-hidden="true"></i>
          <h5>Load Demo Genome</h5>
          <p>This will load a sample genome. In this case, the genome represents a 50 year-old caucasian male.</p>
          <div class="input-container">
            <div class="button button-white">Load Sample</div>
          </div>
        </div>

      </div>

  </div> 

</div>

<!-- UPLOAD MODAL -->
<div class="upload-message-background" ng-show="showUpload" ng-cloak>
  <div class="upload-message-box flex-column">
    <div class="upload-title">
      <span>Uploading and Processing<br /></span>
      <span class="big-caps">Your results</span>
    </div>
    <div class="icon-container flex-column">
        <span> 
          <i class="fa fa-cog fa-spin fa-fw"></i>
        </span>
    </div>
    <div class="upload-message flex-column">
      <span>Please wait: this is a data-intensive process, and may take a few minutes.</span>
    </div>
  </div>
</div>


