<section class="summary u-full-width">

  <div class="row u-full-width summary-subheader">
    <div class="container row flex-row">
      <div class="four columns summary-subheader-left">
        <div dropdown-select="userGenomeArray"
          dropdown-model="ddSelectSelected"
          dropdown-item-label="display" >
        </div>
      </div>
      <div class="four columns">
        <a ui-sref="start">Upload New Genome</a>
      </div>
      <div class="four columns summary-subheader-right">
        <span><a ui-sref="all-results">View all results</a></span>
      </div>
    </div>
  </div>

  <div class="row u-full-width">
    <div class="container filter-by">
      <div class="four columns">
        <input type="text" placeholder="Filter your results..." ng-model="FilterService.searchTerm" ng-change="triggerFilter('search')" />
      </div>
      <div class="four columns">
        <div class="button" ng-click="triggerFilter('healthAlert')">
          Show Health Alerts
        </div>
      </div>
    </div>
  </div>

  <div class="row u-full-width">
    <div class="container category-container">
      <div class="u-full-width flex-row wrap">
        <div ng-repeat="category in ddSelectSelected.genomeresults" class="six columns">
          <summary-category-table data="category">
          </summary-category-table>
        </div>
      </div>
    </div>
 </div>
</section>

