.d3-tip {
  margin-top:-10px;
  font-size: 1.5rem;
  font-family: 'ProximaNova Condensed Light';
  padding: 12px;
  background: rgba(0, 74, 110, 0.7);
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 74, 110, 1);
  border-radius: 3px;
}

.d3-tip {
  z-index: 1;
}

.d3-tip:after {
  font-size: 20px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 74, 110, 0.7);
  content: "\25BC";
  position: absolute;
  top: 88px;
  left: 0px;
  text-align: center;
}

.detail {

  color: #004a71;

  .detail-subheader {
    display: flex;
    align-items: flex-end;
    padding: 40px 0px 20px 0px;

    .detail-title {
      font-size: 4rem;
      line-height: 5.3rem;

      margin-right: 30px;
    }

    .detail-genoset-name {
      font-size: 3rem;
      text-align: left;
    }
  }

  .detail-description-wrapper {
    margin-bottom: 40px;

    .detail-description {
      font-family: 'ProximaNova Regular Light';
      font-size: 1.9rem;
    }

    .detail-image {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;
      overflow: hidden;
      border: 1px solid rgba(0, 74, 113, 0.5);
      border-radius: 3px;

    }
    img {
      width: 100%;
      height: auto;
    }
  }

  .genome-map-container {
    
    .genome-map-title {
      border-top: 1px solid rgba(0, 74, 113, 0.12);
      font-size: 3rem;
    }

    .genome-map {
      width:100%
    }

    .map-text {
      fill: #004a71;
      font-family: 'ProximaNova Condensed Light';
      font-size: 1.4rem;
    }

  }

  .snp-table {
    display: flex;
    flex-flow: column nowrap;

    .table-head {
      text-transform: uppercase;
      font-family: 'ProximaNova Condensed Semibold';
      font-size: 1.5rem;
      background-color: rgba(0, 54, 113, 0.1);
   
    }

    .table-row {
      display: flex;
      flex-flow: row nowrap;
      border-bottom: 1px solid rgba(0, 74, 113, 0.2);
      padding: 10px;
    }

    .table-body {
      margin-bottom: 50px;
      font-family: 'ProximaNova Condensed Light'
    }

    .table-cell {
      display: flex;
      flex-flow: row nowrap;
      flex-grow: 1;
      flex-basis: 0;
      justify-content: center;
      align-items: center;
      text-align: center;
    } 
  }
}