.start-main {
  position:relative;
  min-height: 500px;
  background-color: #004a71;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
}

.start-items {
  margin: 50px auto;
  font-size: 2rem;
  color: #fff;

  .title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;

    h4 {
      font-size: 4rem;
    }
  }
}

  .start-item {
    min-height: 400px;
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 3px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.05);

    h5 {
      font-size: 2.5rem;
      font-family: ProximaNova Condensed Semibold;
      line-height: 3rem;

    }

    p {
      font-family: 'ProximaNova Condensed Light';
      font-size: 1.8rem;
      line-height: 2rem;
      text-align: justify;
    }

    .fa {
      font-size: 4rem;
      margin-bottom: 15px;
      color: white;
    }

    ul {
      font-size: 2rem;
      line-height: 1rem;
      text-align: left;
    }

    .button {
      margin-top: auto;
    }
}

.input-container {
    margin-top: auto;
    width: 100%;
    .button {
      width: 100%;
    }
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
  display: inline-block;
  height: 38px;
  width: 100%;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #fff;
  cursor: pointer;
  box-sizing: border-box;
  transition: .1s ease-in-out; 
}

.inputfile + label:hover,
.inputfile:focus + label {
  background-color: #fff;
  color: #004a71;
  border-color: #fff;
  outline: 0; 
}

// MODAL STYLING

.upload-message-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 40, 70, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding: 10px;
    animation-name: fadeIn;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0.7s;
    @keyframes fadeIn {
        0% {
            opacity: 0;
            z-index: 2;
        }

        100% {
            opacity: 1;
            z-index: 2;
        }
    }

    .upload-message-box {
      width: 450px;
      height: 300px;
      font-size: 3rem;
      color: white;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 74, 113, 1);
      border: 2px solid white;
      border-radius: 3px;

      .upload-title {
        .big-caps {
          text-transform: uppercase;
          font-size: 4rem;
          font-family: 'ProximaNova Semibold';
          letter-spacing: 1px;
        }
      }

      .icon-container {
        font-size: 4rem;
      }

      .upload-message {
        width: 66%;
        text-align: justify;
        font-size: 2rem;
        line-height: 2.3rem;
      }

  }
}
