.summary-subheader {
  background-color: rgba(0, 54, 113, 0.08);;
  border-bottom: 1px solid rgba(0, 74, 113, 0.2);
  padding: 10px;

  .flex-row {
    align-items: center;
  }

  .summary-subheader-left {
      min-width: 200px;
    
  }

  .summary-subheader-right {
    text-align: right;
  }
}

.summary-table-container {
  
}